/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/* font-family: 'Roboto', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid; 
    /* grid-auto-columns: 1fr;  */
    grid-template-columns: 1fr; 
    grid-template-rows: 0.2fr 1.7fr 1.7fr 1.7fr 0.4fr; 
    /* gap: 0px 0px;  */
    grid-template-areas: 
      "nav"
      "section1"
      "section-two"
      "section-three"
      "footer"; 
  }
  .nav{ 
     grid-area: nav; 
}
  .section1{
     grid-area: section1;
     background-color: #00000094;
     z-index: 10;
}
  .section-two{
     grid-area: section-two; 
     display: flex;
     flex-direction: column;
     align-items: center;
}
  .section-three{
     grid-area: section-three; 
     display: flex;
     flex-direction: column;
     align-items: center;
}
  .footer{
     grid-area: footer; 
     display: flex;
     align-items: center;
     background-color: white;
}

body{
    background-color: rgb(26, 26, 26);
}

.littleimg{
    max-width: 15vw;
}

/* NAVBAR */
.backcolornav{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

/* MAIN */

/* Section-one */
.contenedor{
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.contenedor video{
    max-width: 100%;
    position: relative;
    z-index: -1;
    display: inline-block;
}

.i-wont{
    position: absolute;
    top: 60%;
}

.i-wont ul{
    list-style: none;
}

.i-wont li{
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    margin: 20px;
}

.i-wont a{
    text-decoration: none;
    color: white;
}

.i-wont h5{
    border-style: solid;
    padding: 5px;
    transition: .3s;
    transition-property: background;
}

.i-wont h5:hover{
    background-color: white;
    color: black;
    border-style: solid;
    border-color: white;
}

/* Section-two */

.sec-two-img{
    background-image: url(section2-background.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.gradiant-sec-two{
    height: 100%;
    width: 100%;
    background-color: #00000059;
    z-index: 10;
    position: relative;
}

.tour-container{
    margin-top: 50px;
    z-index: 500;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tour-container a{
    border-style: solid;
    padding: 2px;
    border-color: white;
    transition: .3s;
    transition-property: background;
}

.tour-container a:hover{
    border-color: white;
    background-color: white;
    color: black;
}

.tour-container p{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 4px 4px 3px black;
}

.tour-container-inside{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height : 3px;
}

.tour{
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
}

.section-two a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* Section-three */

.sec-three-img{
    background-image: url(section-three-background.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.sec-three-container{
    margin-top: 50px;
    z-index: 500;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sec-three-container h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
    text-shadow: 4px 4px 3px black;
}

.sec-three-container img{
    max-width: 50vw;
}

.sec-three-container a{
    border-style: solid;
    padding: 2px;
    border-color: white;
    transition: .3s;
    transition-property: background;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
}

.sec-three-container a:hover{
    border-color: white;
    background-color: white;
    color: black;
}

.footer ul{
    list-style: none;
}

.footer li{
    display: inline-block;
}

.footer a{
    color: black;
}

