/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/* font-family: 'Roboto', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid; 
    /* grid-auto-columns: 1fr;  */
    grid-template-columns: 1fr; 
    grid-template-rows: 0.2fr 1.7fr 1.7fr 1.7fr 0.4fr; 
    /* gap: 0px 0px;  */
    grid-template-areas: 
      "nav"
      "section-one"
      "section-two"
      "section-three"
      "footer"; 
  }
  .nav{ 
     grid-area: nav; 
}
  .section-one{
    grid-area: section-one;
    background-color: #00000094;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .section-two{
    grid-area: section-two; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  .section-three{
    grid-area: section-three; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  .footer{
    grid-area: footer; 
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    flex-direction: column;
}

body{
    background-color: rgb(26, 26, 26);
}

.littleimg{
    max-width: 15vw;
}

/* NAVBAR */
.backcolornav{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

/* MAIN */

/* SECTION-ONE */

/* Objetos ocultos Query 1024px */

/* Objetos ocultos Query 1024px */
.contenedor{
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.contenedor video{
    max-width: 100%;
    position: relative;
    z-index: -1;
    display: inline-block;
}

.i-wont{
    position: absolute;
    top: 60%;
}

.i-wont ul{
    list-style: none;
}

.i-wont li{
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    margin: 20px;
}

.i-wont a{
    text-decoration: none;
    color: white;
}

.i-wont h5{
    border-style: solid;
    padding: 5px;
    transition: .3s;
    transition-property: background;
}

.i-wont h5:hover{
    background-color: white;
    color: black;
    border-style: solid;
    border-color: white;
}



/* SECTION-TWO */

.sec-two-img{
    background-image: url(section2-background.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.gradiant-sec-two{
    height: 100%;
    width: 100%;
    background-color: #00000059;
    z-index: 10;
    position: relative;
}

.tour-container{
    margin-top: 50px;
    z-index: 500;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tour-container a{
    border-style: solid;
    padding: 2px;
    border-color: white;
    transition: .3s;
    transition-property: background;
}

.tour-container a:hover{
    border-color: white;
    background-color: white;
    color: black;
}

.tour-container p{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 4px 4px 3px black;
}

.tour-container-inside{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height : 3px;
}

.tour{
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
}

.section-two a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* SECTION-THREE */

.sec-three-img{
    background-image: url(section-three-background.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.sec-three-container{
    margin-top: 50px;
    z-index: 500;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sec-three-container h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
    text-shadow: 4px 4px 3px black;
}

.sec-three-container img{
    max-width: 50vw;
}

.sec-three-container a{
    border-style: solid;
    padding: 2px;
    border-color: white;
    transition: .3s;
    transition-property: background;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
}

.sec-three-container a:hover{
    border-color: white;
    background-color: white;
    color: black;
}

/* FOOTER */

.footer ul{
    list-style: none;
}

.footer li{
    display: inline-block;
    margin: 5px;
}

.footer a{
    color: black;
}

ol, ul {
    padding-left: 0;
}

.footer ul{
    list-style: none;
}


                                                                /* PAGE MUSIC */

/* SECTION-ONE */

.section-one iframe{
    max-width: 100%;
}

/* SECTION-TWO */

.section-two iframe{
    max-width: 100%;
}

/* SECTION-THREE */

.section-three iframe{
    max-width: 100%;
}

                                                                /* PAGE SOBRE-AJR */
/* SECTION-ONE */

.sec-one-background{
    background-image: url(sobre-ajr/first-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

sec-one-tittle{
    margin-top: 50px;
    z-index: 500;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sobreAJR-container h1{
    text-shadow: 0px 0px 13px black;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    -webkit-text-stroke: 2px white;
    color: transparent;
}

.sobreAJR-container p{
    color: white;
    margin: 25px;
    border-style: double;
    border-color: gray;
    background-color: #000000a8;
    padding: 10px;
}

/* SECTION-TWO */

.sec-two-background{
    background-image: url(sobre-ajr/section-two-background.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sobreAJR-container ul{
    list-style: none;
}

.sobreAJR-container li{
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #000000c7;
    padding: 10px;
    border-radius: 20px;
    letter-spacing: 1px;
}

/* SECTION-THREE */

.sec-three-background{
    background-image: url(sobre-ajr/section-two-background.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

                                                                /* PAGE VIVOS */

.ajr-bang{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ajr-bang h3{
    color: white;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ajr-bang iframe{
    max-width: 100%;
}

                                                                /* PAGE CONTACTO */

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact h1{
    color: white;
    letter-spacing: 3px;
}

.contact label{
    color: white;
}

.imgLogoAjr img{
    max-width: 100%;
}


/* Obejtos ocultos para dispositivos chicos */
@media (max-width: 768px){
    .video-query{
        display: none;
    }

    .section-two-div-one{
        display: none;
    }

    .music-query-div-one{
        display: none;
    }

    #video-desktop{
        display: none;
    }

}

                                                                /* MEDIA QUERY */
                                                                /* LAPTOP 1024px */

@media (min-width: 1024px){

    .grid-container {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 0.2fr 1.7fr 1.7fr 1.7fr 0.4fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "nav nav"
          "section-one section-one"
          "section-two section-two"
          "section-three section-three"
          "footer footer"; 
    }
      .nav {
        grid-area: nav; 
        position: sticky;
        top: 0;
        z-index: 500000;
    }
      .section-one {
         grid-area: section-one;
         flex-direction: row;
         justify-content: space-around;
    }
      .section-two {
        grid-area: section-two; 
        flex-direction: row;
        justify-content: space-around;
    }
      .section-three {
         grid-area: section-three; 
    }
      .footer {
         grid-area: footer; 
    }

    /* QUERY PAGE INDEX */

    .littleimg{
        margin-left: 40px;
        max-width: 5vw;
    }

    .contenedor video{
        display: none;
    }

    .video-query{
        width: 100%;
    }

    .video-query video{
        width: 100%;
    }

    .i-wont{
        margin-left: 50px;
    }

    .sec-two-img {
        background-image: url(section-one-background-query.webp);
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
    }

    .section-two-div-one h1{
        color: white;
    }

    .section-two-div-one ul{
        list-style: none;
    }

    .section-two-div-one li{
        color: white;
        text-shadow: 3px 4px 4px black;
    }

    .section-two-div-one{
        display: flex;
        flex-direction: column;
    }

   

    .gira{
        display: flex;
        flex-direction: row;
    }

    .section-three{
        flex-direction: row;
        justify-content: space-around;
    }

    .sec-three-img{
        background-image: url(section-three-background-query.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .music-query{
        display: flex;
    }

    .music-query-div-one{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .music-query-div-one h1{
        display: inline-block;
        color: white;
    }

    .music-query-div-one img{
        max-width: 500px;
    }

    /* QUERY PAGE MUSIC */

    #video-mobile{
        display: none;
    }











    /* Obejtos ocultos para dispositivos grandes */
    .tour-container{
        display: none;
    }

    .gradiant-sec-two{
        display: none;
    }

    .sec-three-container{
        display: none;
    }
    /* Obejtos ocultos para dispositivos grandes */
}